.title{
    padding: 10px 10px;

}
.price{
    display: flex;
    align-items: center;
}
.img{
    border-radius: 5%;
    object-fit: cover;
}
.icon{
    position: absolute;
    color: #fff;
    top:93%;
    left:1%;
    /* / background-color  :rgba(17,16,15,0.6); / */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px 5px;
    border-radius: 10%;
    display: flex;
    align-items: center;
}
.icon:hover{
    background-color: rgba(17,16,15,0.8);
}
.icon2{
    left:2%;
    font-size: 10px;
    padding:8px 6px;
    border-radius: 6%;
    display: flex;
    align-items: center;
}
.fa-location-dot{
    font-size: 12px;
}
.fa-camera{
    font-size: 12px;
    
}
.address{
    font-size:14px;
    margin-top: 7px;
    margin-bottom:0px;
    
}
.cardflex{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.proptitle{
    font-weight:bold;
    color:#444;
    margin-bottom: 0px;
    
}
.cardimg{
    padding: 0px 10px;
    border-radius: 2%;
}
.innerflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maincard{
    width: 100%;
     text-align: justify;
    color: #444;
    border: none;
    
   
}
.card2main{
    width: 100%;
    text-align: justify;
    color: #444;
    font-size: 14px;
    border: none;
    margin-top: 14px;

    
}
.overview{
    padding: 10px 10px;
    background-color: #fafafa;
    font-weight: 700;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    border-radius: 4px;
    
}
.overview p{
    margin-bottom: 0;
}
.detailflex{
    display: flex;
    padding: 10px 10px;
    background-color: #fafafa;
    border-radius: 4px;
    text-align: justify;
}
.detailflex2{
    display: flex;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #fff;  
  
}
.detailflexa{
    display: flex;
    padding: 10px 10px;
    background-color: #fafafa;
    border-radius: 4px;
    text-align: justify;
}
.detailflex2a{
    display: flex;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #fff;  
  
}

.inner{
    
    padding: 10px 10px;
    color: #fff;
    border: none;
}

.contact{
   border: none;   
}

.innershadow{
    border: 1px solid #444;
    padding: 10px 0px;
    /* -webkit-box-shadow: -4px 0px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 0px 13px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 0px 13px -1px rgba(0,0,0,0.75); */
    background-color: #fafafa;
    border-radius: 4px;

}

.itemsss{
    display: flex;
    text-align: justify;
}

.handle{
    border: none;
}